# Default ignored files
/shelf/
/workspace.xml
C:\Users\gugut\OneDrive\Área de Trabalho\Repos Gustavo\S203_L2\src\controllers\strategies\__pycache__\notification_factory.cpython-312.pyc
src/controllers/strategies/__pycache__/notification_strategy.cpython-312.pyc

